<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tabele</title>
</head>
<body>
<table>
    <tr>
    <td>1 wiersz 1 kolumna</td>
    <td>1 wiersz 2 kolumna</td>
    </tr>
    <tr>
    <td>2 wiersz 1 kolumna</td>
    <td>2 wiersz 2 kolumna</td>
</tr>
<br>
</table>
<table border="1" style="width:100%">
<tr>
    <th>nagłówek kolumny</th>
</tr>
<tr>
    <td>wiersz</td>
</tr>
</table>
 <table border="1" width="100%">
    <tr>
        <th>imie i nazwisko</th>
        <td>Jan Kowalski</td>
    </tr>
    <tr>
        <th rowspan="2">telefon</th>
        <td>(85)5577854</td>
    </tr>
</table>

</body>
</html>